doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug


		.page
			.page__content

				//START GREETING
				section.greeting
					.greeting__video-wrap
						.greeting__overlay
						video.greeting__video#greeting-video(loop="" muted="")
							source(src="images/pools-full.mp4" type="video/mp4")
							source(src="images/pools-full.webm" type="video/webm")
					.greeting__content
						h1.greeting__title.headline-blue #[span Вода] облеченная в совершенство
				//END GREETING

				//START SERVICES
				section.services.services--main
					.services__container.container
						header.services__header.fadeInDown.wow
							h2.services__title.headline.headline--sm Услуги
							h3.services__subtitle.headline Мы предлагаем широкий спектр услуг, а именно:

						ul.services__list.services-grid
							each item, index in services
								li.services-grid__item.flipInX.wow
									a.services-grid__wrap-link(href="#")
										img.services-grid__img(src="images/service-item-"+index+".jpg", alt="")
										.services-grid__content
											p.services-grid__title=item.title
											p.services-grid__descr=item.descr
				//END SERVICES

				//START FEATURES
				section.features
					.features__container.container
						h2.features__title.headline.headline--sm.fadeInDown.wow Преимущества
						h3.features__subtitle.headline.fadeInDown.wow Мы объединили лучшие качества

						ul.features__icon-list.icon-grid
							each value, index in features
								li.icon-grid__item
									.icon-grid__icon.rotateIn.wow
										img.icon-grid__img(src="images/features-icon-"+index+".png", alt="")
									p.icon-grid__text=value

				//END FEATURES

				//START SCHEME
				section.scheme
					.scheme__container.container
						h2.scheme__title.headline.headline--sm.fadeInDown.wow Схема работы
						h3.scheme__subtitle.headline.fadeInDown.wow Как мы работаем

						ul.scheme__list

							each value, index in schemes
								li.scheme__item.scheme-item.rotateInDownLeft.wow
									.scheme-item__icon
										img.sheme-item__img(src="images/scheme-icon-"+index+".png", alt="")
									.scheme-item__row
										span.scheme-item__order 0#{index}
										p.scheme-item__text=value
				//END SCHEME

		include partails/footer.pug
